.content {
  background-color: orangered !important;

}

.content-error {
  background-color: green !important;
}



.container-full-height {
  height: 100vh;
}

<<<<<<< HEAD
.btn {
  width: 40%;
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}
=======
.nopadding {
    padding: 0 !important;
    margin: 0 !important;
 }

>>>>>>> master
